<div class="tracks-page">
  <app-section-generic [dataTracks]="mockTracksList" [title]="'La mejor musica del mundo'" [mode]="'small'"></app-section-generic>
  <app-section-generic [dataTracks]="mockTracksList" [title]="'Lo mejor de electronica'" [mode]="'big'"></app-section-generic>
</div>
